@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import '~bootstrap/dist/css/bootstrap-reboot.min.css';
@import '~bootstrap4-tagsinput-douglasanpa/tagsinput.css';
@import '~dropzone/dist/min/dropzone.min.css';
@import '~dropzone/dist/min/basic.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import 'dropzone.css';
@import 'typeaheads.css';

div.home-search
{
  height: 200px;
}

main.container
{
  padding-top: 150px;
}

span.documents {
  font-size: 1.4em;
}

span.documents i {
  margin-left: 5px;
}

.highlight {
  color: #0062cc;
}

div.error {
  margin-top: -5em;
}
