@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import '~bootstrap/dist/css/bootstrap-reboot.min.css';
@import '~bootstrap4-tagsinput-douglasanpa/tagsinput.css';
@import '~dropzone/dist/min/dropzone.min.css';
@import '~dropzone/dist/min/basic.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import 'dropzone.css';
@import 'typeaheads.css';

div.home-search
{
  height: 200px;
}

div.bd-dms42
{
  padding: 8em 3em 3em 3em;
}

div.document > .row {
  margin-bottom: 2em;
}

span.documents {
  font-size: 1.4em;
}

span.documents i {
  margin-left: 5px;
}

.highlight {
  color: #0062cc;
}

div.error {
  margin-top: -5em;
}

div.badges .badge {
  padding: 0.48em;
  margin: 0.1em;
}

div.cards .card {
  margin: 0 0.15em 0.3em 0.15em;
}

div.cards .card .card-img-top {
  cursor: pointer;
}

div.card-body {
  padding: 0.6em !important;
}

p.card-text {
  font-size: 0.8em;
}

div.ocr textarea {
  height: 40em;
}