.dropzone .dz-message {
  font-size: 4em !important;
}

.dropzone .dz-preview .dz-error-mark  {
  fill: rgba(255, 110, 0, 1);
}

.dropzone .dz-preview .dz-success-mark  {
  fill: #5cb85c;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  min-height: 20em;
}